<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Trail</title>
    <link rel="icon" type="image/ico" href="/r/favicon-map.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@2.3.4/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios@0.16.2/dist/axios.min.js"></script>
    <script src="/r/common.js"></script>
    <style type="text/css">
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header {
    margin-bottom: 2rem;

    padding-right: 0;
    padding-left: 0;
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

#preferences {
    margin-top: 1rem;
}
    </style>
</head>
<body>
    <div class="container" id="app">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Manage <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/p/about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <login-button login-required="true" @user-identified="userIdentified"></login-button>
                    </li>
                </ul>
            </nav>
        </div>

        <h1>Manage your Progress</h1>

        <div class="card mb-3">
            <div class="card-block form-inline">
                <select name="shelter-menu" class="form-control" aria-describedby="shelter-help" v-model="timelineInput.shelter">
                    <option v-for="shelter in shelters" :value="shelter.id">{{ shelter.name }}</option>
                </select>
                <input type="date" class="form-control" v-model="timelineInput.date" >
                <button class="btn btn-primary" @click="addNewTimelineEvent">Add to Timeline</button>
            </div>
        </div>

        <h2>Embed your Map</h2>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <iframe id="atrail-map"
                        name="Appalachian Trail Map"
                        title="Appalachian Trail Map"
                        width="300"
                        height="300"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                        :src="mapLink">
                </iframe><br />
                <a :href="mapLink" target="_blank" class="btn btn-secondary" role="button">
                    <i class="fa fa-arrows-alt" aria-hidden="true"></i> fullscreen
                </a>

            </div>
            <div class="col-md-6 col-sm-6">
                <p>Copy the following code into your site to embed the left map.</p>
                <p>
                    <button type="button" class="btn btn-secondary" @click="copyToClipboard">
                        <i class="fa fa-clipboard" aria-hidden="true"></i> Copy to Clipboard
                    </button>
                </p>
                <textarea id="map-source" rows="5" class="form-control" v-model="mapSource"></textarea>
            </div>
        </div>

        <h2 id="preferences">Preferences</h2>
        <form class="mb-3">
            <div class="form-group row">
                <label for="direction" class="hidden-xs-down col-sm-2 col-form-label">Direction</label>
                <toggle-button id="direction" class="col-xs-12 col-sm-10" aria-label="Direction"
                               :values="{left: 'nobo', right: 'sobo'}" :labels="{left: 'Nobo', right: 'Sobo'}"
                               v-model="preferences.direction" @change="sendPreferences"></toggle-button>
            </div>
            <div class="form-group row">
                <label for="showFullTrail" class="hidden-xs-down col-sm-2 col-form-label">Show Full Trail</label>
                <toggle-button id="showFullTrail" class="col-xs-12 col-sm-10" aria-label="Show Full Trail"
                               :values="{left: false, right: true}" :labels="{left: 'No', right: 'Yes'}"
                               v-model="preferences.showFullTrail" @change="sendPreferences"></toggle-button>
            </div>
            <div class="form-group row">
                <label for="start" class="hidden-xs-down col-sm-2 col-form-label">Start Date</label>
                <div class="col-xs-12 col-sm-10">
                    <input id="start" type="date" class="form-control" v-model="preferences.start" @change="sendPreferences">
                </div>
            </div>
            <div class="form-group row">
                <label for="end" class="hidden-xs-down col-sm-2 col-form-label">End Date</label>
                <div class="col-xs-12 col-sm-10">
                    <input id="end" type="date" class="form-control" v-model="preferences.end" @change="sendPreferences">
                </div>
            </div>
        </form>

        <h2>Quota</h2>

        <div class="card text-center w-50 mb-3" :class="{'card-inverse': quota.quota < 100, 'card-danger': quota.quota < 100}">
            <div class="card-block">
                <h4 class="card-title">{{quota.quota}}</h4>
                <h6 class="card-subtitle mb-2">Left in this month</h6>
                <p class="card-text">You need quota to display your map. To get more quota you need to upgrade your account.</p>
                <a href="#" class="card-link" :class="{'btn': quota.quota < 100, 'btn-primary': quota.quota < 100}">Buy more quota</a>
            </div>
        </div>

        <h2>Timeline</h2>
        <div class="card mb-1" v-for="(item, index) in timeline">
            <div class="card-block">
                <button class="btn btn-secondary float-right" v-if="index === 0" title="Delete last timeline event"
                        @click="deleteLastTimelineEvent">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                <h4 class="card-title">{{item.poiName}}</h4>
                <h6 class="card-subtitle text-muted">Been here <span :title="item.date">{{displayDate(item.date)}}</span>.</h6>
            </div>
        </div>
    </div>
    <script>
(function() {
    'use strict';

    var app = new Vue({
        el: '#app',
        data: {
            backend: {},
            userId: 0,
            shelters: [],
            mapSource: '',
            preferences: {
                direction: 'nobo',
                showFullTrail: false,
                start: (new Date()).toISOString().split('T')[0],
                end: (new Date()).toISOString().split('T')[0]
            },
            timeline: [],
            timelineInput: {
                shelter: 0,
                date: (new Date()).toISOString().split('T')[0],
                comment: ""
            },
            quota: {}
        },
        computed: {
            mapLink: function() { return '${env.HEROKU_URL}/p/at_map.html?user-id=' + this.userId; }
        },
        methods: {
            reloadMap: function () {
                document.getElementById('atrail-map').contentWindow.location.reload();
            },
            errorHandler: function (res) {
                if ( res.status === 401 ) {
                    window.location.replace(res.data.login);
                } else {
                    alert( res.message );
                }
            },
            copyToClipboard: function() {
                var mapSource = document.getElementById('map-source')
                mapSource.focus();
                mapSource.select();
                document.execCommand("copy");
            },
            userIdentified: function(userId, backend) {
                this.userId = userId;
                this.backend = backend;

                this.initPage();
            },
            loadShelters: function() {
                return this.backend.get('shelters/')
                    .then((shelters) => {
                        this.shelters = shelters.data;
                    })
                    .catch(this.errorHandler);
            },
            loadLastShelter: function() {
                return this.backend.get('shelters/last', { params: {'user-id': this.userId} })
                    .then((currentShelter) => {
                        this.currentShelter = currentShelter.data.id;
                        this.timelineInput.shelter = currentShelter.data.id;
                    })
                    .catch(this.errorHandler);
            },
            loadPreferences: function() {
                return this.backend.get('preferences/' + this.userId)
                    .then((preferences) => {
                        this.preferences.direction = preferences.data.direction;
                        this.preferences.showFullTrail = preferences.data.showFullTrail;
                        this.preferences.start = this.formatDate(preferences.data.start);
                        this.preferences.end = this.formatDate(preferences.data.end);
                    })
                    .catch(this.errorHandler);
            },
            loadTimeline: function() {
                return this.backend.get('timeline/' + this.userId)
                    .then((timeline) => {
                        this.timeline = timeline.data.map((item) => {
                            item.date = this.formatDate(item.date);
                            return item;
                        });
                    })
                    .catch(this.errorHandler);
            },
            loadQuota: function() {
                return this.backend.get('quota/' + this.userId)
                    .then((quota) => {
                        this.quota = quota.data;
                    })
                    .catch(this.errorHandler);
            },
            initPage: function() {
                this.loadShelters().then(this.loadLastShelter);
                this.loadPreferences();
                this.loadTimeline();
                this.loadQuota();
            },
            sendPreferences: function() {
                this.backend.post('preferences/' + this.userId, {
                    direction: this.preferences.direction,
                    start: this.getDate(this.preferences.start),
                    end: this.getDate(this.preferences.end),
                    showFullTrail: this.preferences.showFullTrail
                })
                .then(this.reloadMap)
                .catch(this.errorHandler);
            },
            formatDate: function(jsonDate) {
                var month = '' + jsonDate.month,
                    day = '' + jsonDate.day,
                    year = jsonDate.year;

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                return [year, month, day].join('-');
            },
            getDate: function(stringDate) {
                var parts = stringDate.split('-');
                return {
                    year: Number(parts[0]),
                    month: Number(parts[1]),
                    day: Number(parts[2])
                }
            },
            displayDate: function(stringDate) {
                var date = new Date(stringDate)
                var today = new Date();
                var yesterday = new Date();
                yesterday.setDate(today.getDate() - 1);

                if (date.toDateString() === today.toDateString()) return 'today';
                if (date.toDateString() === yesterday.toDateString()) return 'yesterday';

                return 'at ' + date.toLocaleDateString('en-US', {
                    month: 'long', day: 'numeric'
                });
            },
            deleteLastTimelineEvent: function() {
                this.backend.delete('timeline/' + this.userId + "/last")
                .then(() => {
                    this.timeline.shift();
                    this.reloadMap()
                    this.loadLastShelter();
                    this.loadTimeline();
                })
                .catch(this.errorHandler);
            },
            addNewTimelineEvent: function() {
                this.backend.post('timeline/' + this.userId, {
                    poiId: this.timelineInput.shelter,
                    date: this.getDate(this.timelineInput.date),
                    comment: this.timelineInput.comment
                })
                .then(() => {
                    this.loadTimeline();
                    this.reloadMap();
                })
                .catch(this.errorHandler);
            }
        },
        mounted: function() {
            this.mapSource = document.getElementById('atrail-map').outerHTML;
        }
    });

})();
    </script>
</body>
</html>