<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Trail</title>
    <link rel="icon" type="image/ico" href="/r/favicon-map.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@2.3.4/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios@0.16.2/dist/axios.min.js"></script>
    <script src="/r/common.js"></script>
    <style type="text/css">
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header {
    margin-bottom: 2rem;

    padding-right: 0;
    padding-left: 0;
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

#preferences {
    margin-top: 1rem;
}
    </style>
</head>
<body>
    <div class="container" id="app">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-xs-right">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Manage <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/p/about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <login-button login-required="true" @user-identified="userIdentified"></login-button>
                    </li>
                </ul>
            </nav>
        </div>

        <h1>Manage your Progress</h1>

        <div class="form-group">
            <select name="shelter-menu" class="form-control" aria-describedby="shelter-help" v-model="currentShelter" @change="changeShelter">
                <option v-for="shelter in shelters" :value="shelter.id">{{ shelter.name }}</option>
            </select>
            <p id="shelter-help" class="form-text text-muted">Choose the shelter you passed last.</p>
        </div>

        <h2>Embed your Map</h2>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <iframe id="atrail-map"
                        name="Appalachian Trail Map"
                        title="Appalachian Trail Map"
                        width="300"
                        height="300"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                        :src="mapLink">
                </iframe><br />
                <a :href="mapLink" target="_blank" class="btn btn-secondary" role="button">
                    <i class="fa fa-arrows-alt" aria-hidden="true"></i> fullscreen
                </a>

            </div>
            <div class="col-md-6 col-sm-6">
                <p>Copy the following code into your site to embed the left map.</p>
                <p>
                    <button type="button" class="btn btn-secondary" @click="copyToClipboard">
                        <i class="fa fa-clipboard" aria-hidden="true"></i> Copy to Clipboard
                    </button>
                </p>
                <textarea id="map-source" rows="5" class="form-control" v-model="mapSource"></textarea>
            </div>
        </div>

        <h2 id="preferences">Preferences</h2>
        <form>
            <div class="form-group row">
                <label for="direction" class="hidden-xs-down col-sm-2 col-form-label">Direction</label>
                <div id="direction" class="btn-group col-xs-12 col-sm-10" role="group" aria-label="Direction">
                    <button type="button" class="btn" v-bind:class="{ 'btn-primary': isNobo, 'btn-secondary': !isNobo }" @click="setNobo">Nobo</button>
                    <button type="button" class="btn" v-bind:class="{ 'btn-primary': isSobo, 'btn-secondary': !isSobo }" @click="setSobo">Sobo</button>
                </div>
            </div>
            <div class="form-group row">
                <label for="showFullTrail" class="hidden-xs-down col-sm-2 col-form-label">Show Full Trail</label>
                <div id="showFullTrail" class="btn-group col-xs-12 col-sm-10" role="group" aria-label="Direction">
                    <button type="button" class="btn" v-bind:class="{ 'btn-primary': !preferences.showFullTrail, 'btn-secondary': preferences.showFullTrail }" @click="toggleShowFullTrail">No</button>
                    <button type="button" class="btn" v-bind:class="{ 'btn-primary': preferences.showFullTrail, 'btn-secondary': !preferences.showFullTrail }" @click="toggleShowFullTrail">Yes</button>
                </div>
            </div>
            <div class="form-group row">
                <label for="start" class="hidden-xs-down col-sm-2 col-form-label">Start Date</label>
                <div class="col-xs-12 col-sm-10">
                    <input id="start" type="date" class="form-control" v-model="preferences.start" @change="sendPreferences">
                </div>
            </div>
            <div class="form-group row">
                <label for="end" class="hidden-xs-down col-sm-2 col-form-label">End Date</label>
                <div class="col-xs-12 col-sm-10">
                    <input id="end" type="date" class="form-control" v-model="preferences.end" @change="sendPreferences">
                </div>
            </div>
        </form>

    </div>
    <script>
(function() {
    'use strict';

    var app = new Vue({
        el: '#app',
        data: {
            backend: {},
            userId: 0,
            currentShelter: 0,
            shelters: [],
            mapSource: '',
            preferences: {
                direction: 'nobo',
                showFullTrail: false,
                start: (new Date()).toISOString().split('T')[0],
                end: (new Date()).toISOString().split('T')[0]
            }
        },
        computed: {
            mapLink: function() { return '${env.HEROKU_URL}/p/at_map.html?user-id=' + this.userId; },
            isNobo: function () { return 'nobo' === this.preferences.direction; },
            isSobo: function () { return 'sobo' === this.preferences.direction; }
        },
        methods: {
            changeShelter: function () {
                this.backend.post('shelters/last', {
                    id: this.currentShelter
                })
                .then(this.reloadMap)
                .catch(this.errorHandler);
            },
            reloadMap: function () {
                document.getElementById('atrail-map').contentWindow.location.reload();
            },
            errorHandler: function (res) {
                if ( res.status === 401 ) {
                    window.location.replace(res.data.login);
                } else {
                    alert( res.message );
                }
            },
            copyToClipboard: function() {
                var mapSource = document.getElementById('map-source')
                mapSource.focus();
                mapSource.select();
                document.execCommand("copy");
            },
            userIdentified: function(userId, backend) {
                this.userId = userId;
                this.backend = backend;

                this.initShelterMenu();
            },
            initShelterMenu: function() {
                axios.all([
                    this.backend.get('shelters/'),
                    this.backend.get('shelters/last', { params: {'user-id': this.userId} }),
                    this.backend.get('preferences/' + this.userId )
                ])
                .then(axios.spread((shelters, currentShelter, preferences) => {
                    this.shelters = shelters.data;
                    this.currentShelter = currentShelter.data.id;

                    this.preferences.direction = preferences.data.direction;
                    this.preferences.showFullTrail = preferences.data.showFullTrail;
                    this.preferences.start = this.formatDate(preferences.data.start);
                    this.preferences.end = this.formatDate(preferences.data.end);
                }))
                .catch(this.errorHandler);
            },
            setNobo: function() {
                this.preferences.direction = 'nobo';
                this.sendPreferences();
            },
            setSobo: function() {
                this.preferences.direction = 'sobo';
                this.sendPreferences();
            },
            toggleShowFullTrail: function() {
                this.preferences.showFullTrail = ! this.preferences.showFullTrail;
                this.sendPreferences();
            },
            sendPreferences: function() {
                this.backend.post('preferences/' + this.userId, {
                    direction: this.preferences.direction,
                    start: this.getDate(this.preferences.start),
                    end: this.getDate(this.preferences.end),
                    showFullTrail: this.preferences.showFullTrail
                })
                .then(this.reloadMap)
                .catch(this.errorHandler);
            },
            formatDate: function(jsonDate) {
                var month = '' + jsonDate.month,
                    day = '' + jsonDate.day,
                    year = jsonDate.year;

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                return [year, month, day].join('-');
            },
            getDate: function(stringDate) {
                var parts = stringDate.split('-');
                return {
                    year: Number(parts[0]),
                    month: Number(parts[1]),
                    day: Number(parts[2])
                }
            }
        },
        mounted: function() {
            this.mapSource = document.getElementById('atrail-map').outerHTML;
        }
    });

})();
    </script>
</body>
</html>